.logo {
  height: 60px;
}
.navbar-bg {
  background-color: #effafa;
}
.nav-link {
  font-family: "Bebas Neue", cursive;
  margin-right: 5px;
}
.logout {
  border-radius: 5px;
  border-style: none;
  box-shadow: 10px 10px 50px rgb(211, 208, 208),
    -10px -10px 50px rgb(211, 208, 208);
  background-color: transparent;
  color: rgb(71, 71, 71);
}
