.card {
  border-radius: 15px;
  border-style: none;
  box-shadow: 5px 5px 10px rgb(196, 196, 196);
}

.img-container {
  background-color: #f6f6f6;
}
.card-body {
  background-color: ffffff;
}
.custom-bg {
  background-color: #07274c;
}
.card img {
  width: 150px;
  height: 120px;
}
.card-btn {
  background-color: transparent;
  border: 1px solid #07274c;
  transition: all 0.6s ease;
}
.card-btn:hover {
  transform: scale(1.1);
  background-color: #07274c;
  color: white;
}
.card-info {
  display: flex;
  justify-content: space-between;
}
