.card {
  border-radius: 15px;
  border-style: none;
  box-shadow: 10px 10px 10px rgb(240, 237, 237),
    -10px -10px 10px rgb(241, 241, 240);
}

.img-container {
  background-color: #f6f6f6;
}
.card-body {
  background-color: #f6f6f6;
}
.custom-bg {
  background-color: #07274c;
}
.card img {
  width: 150px;
  height: 120px;
}
.card-btn {
  background-color: transparent;
  border: 1px solid #07274c;
  transition: all 0.6s ease;
}
.card-btn:hover {
  transform: scale(1.1);
  background-color: #fffdf5;
}
.card-info {
  display: flex;
  justify-content: space-between;
}
